<?xml version="1.0" encoding="UTF-8"?>
<config version="10">
	<modules>	
		<module name="core" version="1" model="CoreModel"/>
		<module name="base" version="1" model="BaseModel"/>
	</modules>
	<paths>
		<path name="GLOBAL_CONFIG_XML" value="xml/config.xml"/>
		<path name="EPARAMS_CONFIG_XML" value="xml/eparams_config.xml"/>
		<path name="DATA_SOURCE_XML" value="config/9/data_source.xml"/>
		<path name="DATA_SOURCE_LANG_XML" value="config/langs.xml"/>
		<path name="INTERVENANTS_SOURCE_XML" value="xml/intervenants.xml"/>
		<path name="EMAILRAPPEL_CONFIG_XML" value="xml/emailrappel.xml"/>
		<path name="ALERTES_CONFIG_XML" value="xml/messages_alerte.xml"/>
		<path name="IPRESTRICT_CONFIG_XML" value="xml/access_rules.xml"/>
		<path name="CURRENT_QUESTION_XML" value="xml/current_question.xml"/>
		<path name="INVITATIONS_XML" value="xml/invitations.xml"/>
		<path name="SYNCHROS_XML" value="xml/synchros.xml"/>
		<path name="VIGNETTES_XML" value="xml/vignettes.xml"/>
		<path name="THEMAS_XML" value="xml/themas.xml"/>
		<path name="THEMAS_QUESTIONS_XML" value="xml/themas_questions.xml"/>
		<path name="INTERVENANTS_XML" value="xml/intervenants.xml"/>
		<path name="TEXTES_XML" value="xml/textes.xml"/>
		<path name="INTERFACES_XML" value="xml/created_interfaces.xml"/>
		<path name="SURVEYS_PHP" value="php/surveys.php"/>
		<path name="ACTIONS_XML" value="xml/actions.xml"/>
		<path name="QUESTIONLIST_XML" value="xml/questions.xml"/>
	</paths>
</config>